.header-container{
  display: flex;
  justify-content: space-between;
  background-color: #78D8F6;
  align-items: center;

}


.header-itens a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;


}


.logo__item {
  background-image: url(../../..//assets/img/logocar.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
