.header-container{
  display: flex;
  justify-content: space-between;
  background-color: #78D8F6;
  align-items: center;

}


.header-itens a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;


}


// 
